.sidebar-menu{
    position: fixed;
}
.sidebar-menu__item{
    font-size: 19px;
    color: #0F141A;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 20px;
}
.sidebar-menu__item:hover{
    background: rgba(29, 161, 242, 0.1);
    color: #1da0f2;
    border-radius: 20px;
    cursor: pointer;
}
.sidebar-menu__item--active{
   color:  #1da0f2;
}
.sidebar-menu__item-icon{
 height: 26px;
 margin-right: 20px;
}
.sidebar-menu__item--active .sidebar-menu__item-icon{
    filter: invert(52%) sepia(86%) saturate(2756%) hue-rotate(169deg) brightness(103%) contrast(104%);
      
}
.tweetbox__tweetbuttons{
    width: 100%;
    background-color:   #1b94e0;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 85px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}
